/.vscode/*
/HotScrew/debug.log
/HotScrew/.vscode/*
/Documentation/Dokumentacja.aux
/Documentation/Dokumentacja.log
/Documentation/Dokumentacja.out
/Documentation/Dokumentacja.synctex.gz
/.vs/HotScrew/v16/.suo
/.vs/HotScrew/v16/Browse.VC.db
/.vs/VSWorkspaceState.json
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
